{% extends "base.html" %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    {% for task in data %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{task.id}}:{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
          <p class="card-text">{{task.assign_data}}</p>
          <p>
            {% for cat in task.category.all %}
            <button class="btn btn-warning btn-sm m-2" disabled >{{cat.cat_name}} </button>
            {% endfor %}
          </p>
          {% if task.is_complete == False %}
          <a href="{% url 'edit_task' task.id%}" class="btn btn-info">Edit</a>
          <a href="{% url 'delete_task' task.id%}" class="btn btn-danger">Delete</a>
      {% else %}
          <a href="#" class="btn btn-info">Completed</a>
      {% endif %}
         
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}