{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center ">
  <form method='POST' action='/first_app/about/'>
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name='email'>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name='name'>
    </div>
    <br>
    <select class="form-select" aria-label="Default select example" name='select'>
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>





{% endblock %}
