*{
    padding: 0px;
    margin: 0px;
}
.banner{
    height: 100vh;
    background-image: url("./Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    color: red;
    font-size: 45px;
    font-weight: 700;
}
@media only screen and (max-width:780px){
    .title{
        color: green;
    }
}

@media only screen and (max-width:580px) and (min-width:480px){
    .title{
        color: blue;
    }
}