asgiref
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
h11
idna
Markdown
numpy
outcome
pandas
pillow
psycopg
psycopg-binary
psycopg2
psycopg2-binary
pycparser
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto