{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<form method="POST" style="width:50%;margin: auto" novalidate>
    <h1>Password change page</h1>
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
       <p class='bg-danger text-white p-3'>{{er}}</p>
      {% endfor %}
      {% endif %}
      <!-- {{ form | crispy }} -->
      {% for fm in form %}
          {{ fm.label_tag }}
          {{ fm }}
          <p class='text-danger'>{{ fm.errors|striptags }}</p>
      {% endfor %}
      <button class="btn btn-primary mt-2" type="submit">change password</button>
  </form>

{% endblock %}