{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for m in messages %}

<!-- <small class='bg-success p-3 text-white w-100' {% if m.tags %}class="{{ m.tags }}"{% endif %}>{{ m }}</small> -->
 <p class="bg-success p-3 text-white">{{m}}</p>

{% endfor %}
{% endif %}

<br>

<h1>welcome to Profile </h1>
<h2>hello {{user}}

<p><a class='btn btn-info' href="{% url 'passchange' %}">change your Password</a>
<a class='btn btn-info' href="{% url 'passchange2' %}">change your Password without old password</a></p>
{% load crispy_forms_tags %}
<form method="POST" style="width:50%;margin: auto" novalidate>
    
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
       <p class='bg-danger text-white p-3'>{{er}}</p>
      {% endfor %}
      {% endif %}
      <!-- {{ form | crispy }} -->
      {% for fm in form %}
          {{ fm.label_tag }}
          {{ fm }}
          {{ fm.errors|striptags }}
      {% endfor %}
      <button class="btn btn-primary mt-2" type="submit">Change Data</button>
  </form>
{% endblock %}