{% extends 'base.html' %}
{% block content %}

    {% if messages %}
    {% for m in messages %}
   
    <small {% if m.tags %}class="{{ m.tags }}"{% endif %}>{{ m }}</small>

    {% endfor %}
    {% endif %}
    
    {% load crispy_forms_tags %}
    <form method="POST" style="width:50%;margin: auto" novalidate>
      <h1>signup page</h1>
        {% csrf_token %}
        <!-- {{ form | crispy }} -->
        {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors|striptags }}
        {% endfor %}
        <button class="btn btn-primary mt-2" type="submit">Signup</button>
        <br>
        <!-- <small>Already have an account <a href={% url 'login' %}>login</a></small> -->
    </form>
{% endblock %}